@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

body {
    margin: 0;
    
}

.topbar {
    background-color: white;
    padding: 24px 48px;
    box-shadow: 0 2px 4px #ccc;
}

.menu-item {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 0 16px;
    font-family: 'Baloo Tammudu 2', cursive;
}